# Ignore raw data files
data/raw/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# Environment files
.env
venv/
.env/

# OS files
.DS_Store
Thumbs.db

# Power BI temp files
*.pbix.lock

# Logs
*.log